<!DOCTYPE html>
<html lang='pt-br'>
<head>
  <title>{{ config.title }}</title>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta name='theme-color' content='#13161a'>
  <meta name='description' content='{{ config.description | safe }}'>
  <meta name='author' content='{{ config.author }}'>
  <link rel='stylesheet' media='screen' href='/main.css'>
  <link rel='stylesheet' media='screen' href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/atom-one-dark.min.css'>
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/atom-one-light.min.css"> -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/tokyo-night-dark.min.css"> -->
</head>
<body class='hljs'>
  <main>
    Index
  </main>
</body>
</html>
